{% extends 'base.html.twig' %}

{% block title %}CV-SACKO-ISMAILA{% endblock %}

{% block body %}

    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="contents">
                        {#                            <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5>#}
                        <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">SACKO Ismaila</h2>
                        <p class="script-font wow fadeInUp" data-wow-delay="0.6s">
                            Développeur web full-stack passionné et expérimenté(PHP-SYNFONY, PYTHON-DJANGO)
                        </p>
                        <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/ismaila-sacko-6a5841151/" target=blank>
                                    <i class="icon-social-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                            </li>
                            <li>
                                <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                            </li>
                            <li>
                                <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                            </li>

                            {#                                <li>#}
                            {#                                    <a class="google" href="#"><i class="icon-social-google"></i></a>#}
                            {#                                </li>#}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->

    <!-- About Section Start -->
    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                        <img class="img-fluid rounded-circle" src="assets/img/about/ismo.jpg" alt="" style="width : 250px; 
                                    
                                    height : 250px;
                                    border: none;
                                    -moz-border-radius : 75px;
                                    -webkit-border-radius : 75px;
                                    border-radius : 75px;">
                    </div>
                    <div class="about-profile mt-4">
                            <ul class="admin-profile">
                                <li><span class="pro-title"> Nom et Prénom </span> <b>SACKO Ismaila</b></li>
                                <li><span class="pro-title"> Experience </span> <b class="pro-detail">Junior</b></li>
                                <li><span class="pro-title"> Pays </span> <b class="pro-detail">France</b></li>
                                <li><span class="pro-title"> Localisation </span> <b class="pro-detail">LYON</b></li>
                                <li><span class="pro-title"> e-mail </span> <b class="pro-detail">ismalsacko@yahoo.fr</b></li>
                                <li><span class="pro-title"> Phone </span> <b class="pro-detail">06 05 75 84 94</b></li>
                                <li><span class="pro-title"> Freelance </span> <b class="pro-detail">Disponible</b></li>
                            </ul>
                        </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <h2>Qui suis-je ?</h2>
<p>
  Je suis un développeur web full-stack passionné et expérimenté, diplômé de l'Université de Marseille en 2020 avec une licence professionnelle en développement web, parcours ADMS (De l'Analyse au Déploiement Multi-support).
    Actuellement, je suis étudiant M2(2024-2025) à l'Université Lumière de Lyon, et je suis à la recherche d'un stage de 4 à 6 mois dans le domaine du développement web. Je suis également ouvert à une opportunité d'alternance dans le même secteur.
</p>

<h3 class="text-success">Compétences Techniques</h3>
<ul>
  <li><strong>Frameworks et Technologies :</strong>
    <ul>
	<li>Python/Django</li>
      <li>Symfony, Laravel/Inertia, Vue.js</li>
      <li>Angular pour le développement front-end moderne</li>
      <li>Spring Boot pour des applications robustes côté serveur</li>
    </ul>
  </li>
 
  </li>
  
  <li><strong>Outils de Collaboration et de Gestion de Projets :</strong>
    <ul>
      <li>JIRA, Git, Slack pour une gestion efficace des projets et du code</li>
    </ul>
  </li>
  
  <li><strong>Modélisation et Design :</strong>
    <ul>
      <li>Modélisation de base de données avec Merise (MCD, MLD)</li>
      <li>Modélisation UML pour l’architecture d’applications</li>
      <li>Maquettage d'applications avec Figma, Draw.io, et Trello</li>
    </ul>
  </li>
  
  <li><strong>Développement Front-End :</strong>
    <ul>
      <li>HTML, CSS, JavaScript, Angular, Bootstrap pour des interfaces utilisateur attrayantes et réactives</li>
    </ul>
  </li>
  
  <li><strong>Développement Back-End :</strong>
    <ul>
      <li>PHP pour le développement de fonctionnalités serveur robustes</li>
    </ul>
  </li>
  
  <li><strong>Bases de Données :</strong>
    <ul>
      <li>MySQL pour la gestion et l'optimisation des données</li>
    </ul>
  </li>
</ul>

<h3>Objectifs Professionnels</h3>
<p>
  Mon objectif est de continuer à développer mes compétences en travaillant sur des projets innovants et stimulants. Je suis motivé par l'idée de rejoindre une équipe dynamique où je peux contribuer activement au succès des projets tout en continuant à apprendre et à évoluer.
</p>

                        <a href="https://cvdesignr.com/p/622f169f008b0" target="balank" class="btn btn-common w-100"><i class="icon-paper-clip"></i>Téléchager le CV</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Ce que je fais !</h2>
        <div class="container">
            <div class="row">
                <!-- Services item -->
                <div class="col-md-6 col-lg-3 col-xs-12">
                    <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
                        <div class="icon">
                            <i class="icon-grid"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="#">DÉVELOPPEMENT FRONT-END</a></h3>
                            <p class="">
                                Je développe des application web avec respectivement HTML5, CSS3, JS/JQUERY, VUEJS,
                                BOOTSTRAP en ce qui concerne le front-end.
                                J'utilse les dernières versions de ces technolgies du web pour concevoir et développement
                                des applications web robustes et attractives.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-3 col-xs-12">
                    <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                        <div class="icon">
                            <i class="fas fa-code"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="#">DÉVELOPPEMENT BACK-END</a></h3>
                            <p>
                                Je suis de base déloppeur <strong><i class="fab fa-php fa-3x"></i>
                                    <i class="fab fa-symfony fa-3x"></i>, PYTHON<i class="fab fa-python fa-3x text-success"></i> </strong>
                                et avec un grande appétence le langage JAVA <i class="fab fa-java fa-3x"></i>.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Services item --><!-- Services item -->
                <div class="col-md-6 col-lg-3 col-xs-12">
                    <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                        <div class="icon">
                            <i class="icon-layers"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="#">Web Design</a></h3>
                            <p>
                                Je fais au préable les maquettes de diffrentes parties ou pages des sites web que
                                développe avant de passe au code. <br>
                                Cela veut dire que c'est à parir d'une représentation graphique d'un site que je code tous
                                les sites que développe.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-3 col-xs-12">
                    <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
                        <div class="icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="#">BASSE DE DONNÉES</a></h3>
                            <p>
                                Pour le stokage <i class="fas fa-database text-success"></i> des données d'un site web,
                                j'tulise Mysql s'agissant d'un site web dynamique qui aura besoin d'une certaine quantité
                                enorme de données. <br>
                                Et s'agissaant de sites internet dynamique mais avec une petité quantités de données d'ulisateurs
                                sensibles en terme de sécurité, j'utlise Sqlite pour stocker les données d'un site web.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-3 col-xs-12">
                    <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
                        <div class="icon">
                            <i class="icon-bubbles"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="#">CONSEIL</a></h3>
                            <p>
                                J'inerviens aussi dans le domaine de la réfonte et du référencement naturel des sites
                                internet existants pour des particuliers entant que Freelance.
                                Je donne des consiels aux personnes qui ont des sites internet pour le business mais
                                qu'ils n'ont forcement pas des compétences informatiques pour maintenir sites web en jour.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="education wow fadeInRight" data-wow-delay="0.3s">
                        <ul class="timeline">
                            <li>
                                <i class="icon-graduation"></i>
                                <h2 class="timelin-title">FORMATIONS</h2>
                            </li>
                            <li>
                               <li>
    <div class="content-text">
        <h3 class="line-title">Université Lumière Lyon 2</h3>
        <span>2024 - Présent</span>
        <p class="line-text">
            Master en Informatique (Niveau Bac+5)<br>
            Formation approfondie en développement logiciel, gestion de projets et architecture des systèmes d'information.
        </p>
    </div>
</li>
		
                            <li>
                                <div class="content-text">
                                    <h3 class="line-title">ESIC (École d'informatique et de commerce)  </h3>
                                    <span>2021 - 2022</span>
                                    <p class="line-text">
                                        Concepteur Développeur d'Applications (BAC+3/4)
                                        Analyser, concevoir et développer une applications et base de données relationnelles
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="content-text">
                                    <h3 class="line-title">Aix Marseille Université</h3>
                                    <span>2019 - 2020</span>
                                    <p class="line-text">
                                        Licence professionnelle , Métiers de l'informatique, parcours ADMSS (De l'Analyse
                                        au Déploiement Multi-support) à la faculté des sciences de l'unisersité de Marseille
                                        sur le site de Saint Charles à Marseille.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="content-text">
                                    <h3 class="line-title">Aix Marseille Université</h3>
                                    <span>2018 - 2019</span>
                                    <p class="line-text">
                                        Licence 2 étiers de l'informatique, parcours ADMSS (De l'Analyse
                                        au Déploiement Multi-support).
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                        <ul class="timeline">
                            <li>
                                <i class="icon-briefcase"></i>
                                <h2 class="timelin-title">Experiences</h2>
                            </li>
                            <li>
                                <div class="content-text">
                                    <h3 class="line-title">
                                        <a href="https://ismael-dev.com" target="blank">
						Stagiaire Développeur full-stack chez LASA Lyon</a>
                                    </h3>
                                    <span>Dépuis Avril 2024</span>
                                    <p class="line-text">
                                       
					Depuis avril 2024, je réalise un stage de 4 mois en tant que développeur full-stack chez LASA Lyon. Durant cette expérience, je me suis concentré sur la conception et le développement d'applications web en utilisant le framework Django. Mes responsabilités incluent l'analyse des besoins clients, le développement de fonctionnalités front-end et back-end, et l'intégration de solutions permettant d'améliorer l'expérience utilisateur. J'ai également collaboré avec des équipes interfonctionnelles pour assurer la qualité et la performance des applications, en appliquant des pratiques de développement modernes et efficaces.
                                       
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="content-text">
                                    <h3 class="line-title">
                                        <a  href="https://mdcmali.com/" target="blank">CHEZ GROUPE OPSISE</a>
                                    </h3>
                                    <span>Depuis juin 2022</span>
                                    <p class="line-text">
                                        Au sein d'une équipe de 5 développeurs, je participe à la
                                        conception et au développement des logiciels appliqués aux
                                        besoins de entreprises.
                                        Nous proposons des solutions performantes pour la création,
                                        le déploiement et la maintenance de vos applications.
                                        Nous apportons également notre expertise dans le
                                        renforcement de capacité de vos équipes d’ingénieurs logiciel.

                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="content-text">
                                    <h3 class="line-title">
                                        <a href="https://gitlab.com/ismaelsacko/site_concours" target="blank">
                                            PROJET TUTEURÉ (Aix marseille Université)
                                        </a>
                                    </h3>
                                    <span>Janvier 2021 Aix Mareille Université</span>
                                    <p class="line-text">
                                        Dans le cadre de la validation de mon diplôme de licence pro en 2020
                                        (Aix-Marseille Université), j'ai développé un site internet sous SYMFONY. J'ai
                                        eu à gérer le back et le front à la fois avec PHP.
                                        Ce site permet aux organisateurs d'événements sportifs (pétanque, tennis ou
                                        football) de mettre en ligne leurs a annonces pour informer leur public.
                                        Je l'ai développé avec php en bac (symfony) et html, css, twig et js pour le
                                        front.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Resume Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
        <!-- Container Starts -->
        <div class="container">
            <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Qeuleques images de mon métier</h2>
            <div class="row">
                <div class="col-md-12">
                    <!-- Portfolio Controller/Buttons -->
                    <div class="controls text-center">
                        <a class="filter active btn btn-common" data-filter="all">
                            All
                        </a>
                        <a class="filter btn btn-common" data-filter=".design">
                            Design
                        </a>
                        <a class="filter btn btn-common" data-filter=".development">
                            Development
                        </a>
                    </div>
                    <!-- Portfolio Controller/Buttons Ends-->
                </div>

                <!-- Portfolio Recent Projects -->
                <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
                        <div class="portfolio-item">
                            <div class="shot-item">
                                <img src="assets/img/gallery/Capture.PNG" alt="" />
                                <div class="overlay">
                                    <div class="icons">
                                        <a class="lightbox preview" href="assets/img/gallery/Capture.PNG">
                                            <i class="icon-eye"></i>
                                        </a>
                                        <a class="link" href="#">
                                            <i class="icon-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                        <div class="portfolio-item">
                            <div class="shot-item">
                                <img src="assets/img/gallery/developpement.jpg" alt=""/>
                                <div class="overlay">
                                    <div class="icons">
                                        <a class="lightbox preview" href="assets/img/gallery/developpement.jpg">
                                            <i class="icon-eye"></i>
                                        </a>
                                        <a class="link" href="#">
                                            <i class="icon-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                        <div class="portfolio-item">
                            <div class="shot-item">
                                <img src="assets/img/gallery/Capture2.PNG" alt="" />
                                <div class="overlay">
                                    <div class="icons">
                                        <a class="lightbox preview" href="assets/img/gallery/Capture2.PNG">
                                            <i class="icon-eye"></i>
                                        </a>
                                        <a class="link" href="#">
                                            <i class="icon-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->

    <!-- Counter Area Start-->
    <section class="counter-section section-padding">
        <div class="container">
            <div class="row">
                <!-- Counter Item -->
                <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                    <div class="counter wow fadeInDown" data-wow-delay="0.3s">
                        <div class="icon"><i class="icon-briefcase"></i></div>
                        <div class="text-white fa-3x">5</div>
                        <p>Projets en cours</p>
                    </div>
                </div>
                <!-- Counter Item -->
                <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                    <div class="counter wow fadeInDown" data-wow-delay="0.6s">
                        <div class="icon"><i class="icon-check"></i></div>
                        <div class="text-white fa-3x">16</div>
                        <p>Projets réalisés</p>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- Counter Area End-->

    {#<!-- Contact Section Start -->
    <section id="contact" class="section-padding">
        <div class="contact-form">
            <div class="container">
                <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="contact-block">
                            <h2>Contact Form</h2>
                            <form id="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="submit-button">
                                            <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="footer-right-area wow fadeIn">
                            <h2>Contact Address</h2>
                            <div class="footer-right-contact">
                                <div class="single-contact">
                                    <div class="contact-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <p>San Francisco, CA</p>
                                </div>
                                <div class="single-contact">
                                    <div class="contact-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <p><a href="mailto:hello@tom.com">hello@tom.com</a></p>
                                    <p><a href="mailto:tomsaulnier@gmail.com">tomsaulnier@gmail.com</a></p>
                                </div>
                                <div class="single-contact">
                                    <div class="contact-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <p><a href="#">+ (00) 123 456 789</a></p>
                                    <p><a href="#">+ (00) 123 344 789</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34015.943594576835!2d-106.43242624069771!3d31.677719472407432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e75d90e99d597b%3A0x6cd3eb9a9fcd23f1!2sCourtyard+by+Marriott+Ciudad+Juarez!5e0!3m2!1sen!2sbd!4v1533791187584"></object>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->#}

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                        <ul class="social-icon">
                            <li>
                                <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                            </li>
                            <li>
                                <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                            </li>
                            <li>
                                <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                            </li>
                            <li>
                                <a class="instagram" href="#"><i class="icon-social-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="instagram" href="#"><i class="icon-social-google"></i></a>
                            </li>
                        </ul>
                        <p>Copyright © 2021 UIdeck All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.mixitup.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.min.js"></script>
    <script src="assets/js/map.js"></script>

{% endblock %}
